@import '../../Assets/sass/general.scss';

.input {
    height: 50px;
    padding:  0 10px;
    background-color: #fff;
    @include center (flex , center , space-between);

    input {
        width: 100%;
        outline: none;
        border: none;
        color: #2f2d52;
        font-size: 16px;

        &::placeholder{
            color: lightgrey;
        }
    }

    .send {
        @include center (flex , center , none);
        gap: 10px;

        i {
            font-size: 24px;
            cursor: pointer;
        }

        button {
            @include text (11px , 400 , #fff);
        }
    }
}