@import '../../Assets/sass/general.scss';

.chats {

    .userChat {
        @include center (flex , center , none);
        gap: 10px;
        padding: 10px;
        color: #fff;
        cursor: pointer;

        img {
            border-radius: 50%;
            width: 50px;
            height: 50px;
            object-fit: cover;
        }

        .userChatInfo{

            span {
                @include text (18px , 500 , #fff);
            }

            p{
                margin: 0;
                @include text (14px , 400 , lightgray);
            }
        }

        &:hover {
            background-color: #2f2d52;
        }
    }
}