@import '../Assets/sass/general.scss';

.fromContainer{
    background-color: #a7bcff;
    height: 100vh;
    @include center (flex , center , center);

    .fromWrapper {
        background-color: #fff;
        padding: 20px 60px;
        display: flex;
        flex-direction: column;
        gap: 15px;
        border-radius: 10px;
        align-items: center;

        .logo{
            @include text (24px , bold , #5d5f8d);
        }

        .title{
            @include text (12px , 400 , #5d5f8d);
        }
      
        form {
            display: flex;
            flex-direction: column;
            gap: 15px;

            input{
                border: none;
                padding: 15px;
                width: 300px;
                border: 1px solid transparent;
                border-bottom: 1px solid #a7bcff;
                outline: none;

                &::placeholder{
                    color: rgb(175, 175, 175);
                }

                &:valid{
                    color: #a7bcff;
                    letter-spacing: 1px;
                }

                &:focus{
                    border: 1px solid #a7bcff;
                }
            }

            button {
                background-color: #7b96ec;
                padding: 10px;
                border: none;
                cursor: pointer;
                border-radius: 8px;
                @include text (20px , bold , #fff);
            }

            label {
                @include center (flex , center , none);
                gap: 10px;
                cursor: pointer;
                @include text (12px , 500 , #8da4f1);

                img {
                    width: 32px;
                }

            }
        }

        p {
            margin-top: 10px;
            @include text (12px , 400 , #5d5f8d);
        }
    }
}