@import '../../Assets/sass/general.scss';

.message{
    display: flex;
    gap: 20px;
    margin-bottom: 20px;

    .messageInfo{
        display: flex;
        flex-direction: column;


        img{
            width: 40px;
            height: 40px;
            border-radius: 50%;
            object-fit: cover;
        }
    }

    .messageContact{
        max-width: 80%;
        display: flex;
        flex-direction: column;
        gap: 10px;

        p {
            background-color: #fff;
            padding: 10px 20px;
            border-radius: 0 10px 10px 10px;
            max-width: max-content;
        }

        img {
            width: 50%;
        }
    }

    &.owner {
        flex-direction: row-reverse;

        .messageContact{
            align-items: flex-end;

            p {
                background-color: #8da4f1;
                color: #fff;
                border-radius: 10px 0 10px 10px;
            }
        }
        
    }
}